
<div class="row">
<div class="col-md-5">
    <p>
        Obteniendo - {{coin.name}}
       </p>

       <input type="text" class="form-control" id="name"
  required
  [(ngModel)]="data" />
  <!-- <input matInput type="text" placeholder="Limpiar cantidad" [(ngModel)]="cvalue"> -->
  <button mat-button *ngIf="cvalue" matSuffix mat-icon-button aria-label="Limpiar" (click)="cvalue=''">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="col-md-12">
    <p-table [value]="dataPair" [lazy]="true" (onLazyLoad)="onLoadCoins($event)" [paginator]="false"
    [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
        <ng-template pTemplate="header">
            <tr>
                <th>Moneda</th>
                <th>Pares</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-elm>
            <tr>
                <td>{{elm.currency}}</td>
                <td>
                <tr *ngFor="let epair of elm.pair">
                    <td>
                        {{epair}}:
                      </td>
                      <td>0.0</td>
                </tr>

                </td>

            </tr>
        </ng-template>
    </p-table>

</div>
</div>
                  <!-- <p-table [value]="elm.pair">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Moneda</th>
                            <th>Valor</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-epair>
                            <td>{{epair}}</td>
                            <td></td>
                    </ng-template>
                  </p-table> -->
