
<div class="row">
<div class="col-md-5">
    <p>
        Obteniendo - {{coin.name}}
       </p>
       <!-- <div>{{coin | json}}</div> -->
       <div class="col-md-10" >

      <span> {{coin.usd | currency}} USD </span>
      <span> {{coin.usd*value_exp | currency}} </span>
      </div>
       <div class="col-md-10" >
          <span> {{coin.btc}} BTC </span>
          <span> {{coin.btc*value_exp }} </span>
          <!-- <span> {{(fnGetPrice('BTC','USD')*coin.btc*value_exp | async) | currency}} </span> -->
       </div>

       <input  type="number" name="quantity" min="1" class="form-control" id="value-coin"  [(ngModel)]="value_exp" />
  <!-- <input matInput type="text" placeholder="Limpiar cantidad" [(ngModel)]="cvalue"> -->

</div>

<div class="col-md-12">
    <p-table [value]="dataPair"
    [lazy]="true"
    (onLazyLoad)="onLoadCoins($event)"
    [paginator]="true"
    paginatorPosition="top"
    [rows]="5"
    [rowsPerPageOptions]="[5,10,20]"
    [totalRecords]="totalRecords"
    [loading]="loading">
        <ng-template pTemplate="header">
            <tr>
                <th>Moneda</th>
                <th>Pares</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-elm>
            <tr>
                <td>
                  <tr class="text-bold">{{elm.currency}}</tr>
                    <tr>
                        <td>Valor Base:</td>
                        <td>{{elm.usd | currency:'USD':true:'1.2-5' }}</td>
                    </tr>
                    <tr>
                        <td>Valor:</td>
                        <td>{{1/elm.nvcoin}}</td>
                    </tr>
                    <tr>
                        <td>Valor Expresion :</td>
                        <td>{{value_exp/elm.nvcoin}}</td>
                    </tr>


                </td>
                <td>
                  <tr *ngFor="let epair of elm.dpair | keyvalue">
                    <td>{{epair.key}}:</td>
                    <td>{{epair.value.USD}} USD - {{epair.value[coin.name]}} {{coin.name}}</td>
                    <td>*{{epair.key}}:</td>
                    <td>{{epair.value.USD*value_exp}} USD - {{epair.value[coin.name]*value_exp}} {{coin.name}}</td>
                  </tr>
                <!-- <tr *ngFor="let epair of elm.dpair">
                    <td>
                        {{epair | json}}:
                      </td>
                      <td>{{epair.value.USD}} USD</td>
                      <td>{{epair.value.ETH}} ETH</td>
                </tr> -->

                </td>

            </tr>
        </ng-template>
    </p-table>

</div>
</div>
                  <!-- <p-table [value]="elm.pair">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Moneda</th>
                            <th>Valor</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-epair>
                            <td>{{epair}}</td>
                            <td></td>
                    </ng-template>
                  </p-table> -->
