<div class="row">
<div class="col-md-5">
    <p>
        Obteniendo - {{coin.name}}
       </p>
       <!-- <div>{{coin | json}}</div> -->
    <div class="data-float">

      <div class="col-md-10" >
<!--
        <span> {{coin.bnb | number: '1.2-6'}} BNB </span>
        <span> {{coin.bnb*value_exp | number: '1.2-6' }} </span> -->

        <div *ngFor="let cn of this.coin.values | keyvalue" class="border">
          <div>
            <div class="text-weigth-bold">{{cn.key}}:</div>
            <span>
              <!-- {{cn.value}} -->
              {{(value_exp * cn.value) | number: '1.2-6'}}
            </span>
          </div>
            <!-- <td>{{evpair.key}}:</td> -->
            <!-- <td>{{(value_exp * cn.value) | number: '1.2-6'}}</td> -->
          </div>
      </div>
  </div>
       <br>

       <input  type="number" name="quantity" min="1" class="form-control" id="value-coin"  [(ngModel)]="value_exp"/>
  <!-- <input matInput type="text" placeholder="Limpiar cantidad" [(ngModel)]="cvalue"> -->

</div>

<div class="col-md-12">
    <p-table [value]="dataPair"
    dataKey=""
    [lazy]="true"
    (onLazyLoad)="onLoadCoins($event)"
    [paginator]="true"
    paginatorPosition="top"
    [rows]="5"
    [rowsPerPageOptions]="[5,10,20]"
    [totalRecords]="totalRecords"
    [loading]="loading"
    sortField="currency"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Moneda</th>
                <th>Pares</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body"
        let-elm
        let-rowIndex="rowIndex"
        let-expanded="expanded" let-columns="columns">
            <tr class="ui-widget-header">
                <td colspan="3">
                  <span style="font-weight:bold">{{elm.currency}}</span>
                </td>
            </tr>
            <tr>

              <td>
                  <!-- <pre>{{elm | json}}</pre> -->
                  <!-- <tr>
                      <td>Valor USD:</td>
                      <td>{{elm.value.USD | currency:'USD':true:'1.2-5' }}</td>
                  </tr>
                  <tr>
                      <td>Valor 1 {{coin.name}}:</td>
                      <td>{{1/elm.nvcoin | number: '1.2-6'}} {{elm.currency}}</td>
                  </tr>
                  <tr>
                      <td>Valor Expresion:</td>
                      <td>{{value_exp/elm.nvcoin | number: '1.2-6' }} {{elm.currency}}</td>
                  </tr> -->

                  <tr *ngFor="let item of fnGetKeys(elm.value)">
                      {{item}} : {{elm.value[item]}}
                      <td>
                        Valor: {{value_exp / elm.value[item]}}
                      </td>
                  </tr>

              </td>
              <td>
                <tr *ngFor="let epair of elm.values" class="border">
                  <td>
                    <tr class="font-weight-bold">
                        {{epair.name}}
                    </tr>
                    <tr>
                          <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th *ngFor="let item of fnGetKeys(epair.value)">
                                        {{item}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <td *ngFor="let item of fnGetKeys(epair.value)">
                                      {{epair.value[item]}}
                                      <!-- {{value_exp * epair.value[item] | number: '1.2-6'}} -->

                                  </td>
                              </tr>
                            </tbody>
                            </table>


                     </tr>
                     <!-- <tr>
                        <td>Expresion:</td>
                        <td>{{(value_exp/elm.nvcoin) * epair.item.value | number: '1.2-6'  }} {{epair.item.name}}</td>
                     </tr>
                   </td>
                  <td>
                    <tr *ngFor="let evpair of epair.value | keyvalue" class="border">
                      <td>{{evpair.key}}:</td>
                      <td>{{((value_exp/elm.nvcoin) * epair.item.value) * evpair.value | number: '1.2-6'}}</td>
                    </tr> -->

                </td>
                </tr>
              </td>
            </tr>
            <!-- <tr>
                <td>
                  <tr class="text-bold">{{elm.currency}}</tr>
                    <tr>
                        <td>Valor USD:</td>
                        <td>{{elm.usd | currency:'USD':true:'1.2-5' }}</td>
                    </tr>
                    <tr>
                        <td>Valor 1 {{coin.name}}:</td>
                        <td>{{1/elm.nvcoin | number: '1.2-6'}} {{elm.currency}}</td>
                    </tr>
                    <tr>
                        <td>Valor Expresion:</td>
                        <td>{{value_exp/elm.nvcoin | number: '1.2-6' }} {{elm.currency}}</td>
                    </tr>


                </td>
                <td>
                  <tr *ngFor="let epair of elm.dpair" class="border">
                    <!-- <td>{{epair | json}}</td> -->
                    <!-- <td>
                       <tr>
                          <td>Base</td>
                          <td>{{epair.item.value | number: '1.2-6'}} {{epair.item.name}}</td>
                       </tr>
                       <tr>
                          <td>Expresion:</td>
                          <td>{{(value_exp/elm.nvcoin) * epair.item.value | number: '1.2-6'  }} {{epair.item.name}}</td>
                       </tr>
                     </td>
                    <td>
                      <tr *ngFor="let evpair of epair.value | keyvalue" class="border">
                        <td>{{evpair.key}}:</td>
                        <td>{{((value_exp/elm.nvcoin) * epair.item.value) * evpair.value | number: '1.2-6'}}</td>
                      </tr>

                  </td>
                  </tr>
                </td>
            </tr>  -->


        </ng-template>

    </p-table>

</div>
</div>
                  <!-- <p-table [value]="elm.pair">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Moneda</th>
                            <th>Valor</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-epair>
                            <td>{{epair}}</td>
                            <td></td>
                    </ng-template>
                  </p-table> -->
